/* Journey to the Center of the Earth Practicum */
/* Jesus Gonzalez-Barragan */


/* Head */
h1 {
    text-align:center;
    color: white;
    background-image: url(../img/cave.jpg);
    height: 5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    
    
    
}
body {
    background-color:#765729;
    background: linear-gradient(#765729,black);
}

/* Tabs */

nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: black;
    

}

ul {
    list-style-type: none;
}

a:link {
    color: black;
    font-weight:bolder;
    text-decoration: none;
}

a:hover {
    color:#A52A2A;
} 
/*aside


/* Images */
#cover {
    float: left;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    

}


#cryptogram {
    text-align: center;
    font-style:italic

}
/* Text */
.character {
    font-weight:bold;
}


/* footer */
footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    


}

/* Background */

nav, aside, footer, main {
background-color: rgb(240, 234, 234);
box-shadow:3px 5px 0px rgba(0, 0, 0, 0.5) inset;

}
h2 {
    margin-left:1rem;
   border-bottom: dashed 2px; 
   
   

}

/*flex test
.submission {
    display:flex;
}
.opinion {
    flex:2;

main {
    display:grid;
    justify-content: space-evenly;
    grid-row-start: auto;
    grid-row-end: 3;
} what am  I doing wrong?
}*/
.submissions {
border: solid 2px;
}